*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex; /* Hace que los elementos dentro del contenedor se muestren en línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    height: 100%; /* Establece la altura del contenedor al 100% del viewport */
    width: 100%;
    background-color: #212121;
}

.form-container {
    position: relative;
    width: 30%;
    padding: 20px; /* Añade un espacio alrededor del formulario */
}

.image-container {
    flex: 1; /* Hace que el contenedor ocupe todo el espacio disponible */
    padding: 20px; /* Añade un espacio alrededor de la imagen */
    background-color: #212121;
}

.image-container img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%;
    opacity: 0.7; /* Establece la opacidad de la imagen al 70% (trasparencia) */
}

form {
    margin-top: 5%;
    background-color: #ffffff; /* Color de fondo del formulario */
    padding: 20px; /* Añade espacio alrededor del formulario */
    border-radius: 10px; /* Agrega bordes redondeados al formulario */
    color: #212121;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.input-group {
    margin-bottom: 20px; /* Espacio entre el campo de selección y el siguiente elemento */
}


.document-select {
    margin-top: 15px;
    width: 100%; /* Ancho completo del campo de selección */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
}

.username input{
    width: 95%;
    padding: 12px;
    height: 30px 0;
    font-size: 25px;
    border: none;
    background:  none;
    outline: none;
}

.username .label{
    color: #212121;
    position: absolute;
    transform: translateY(50%);
    font-size: 35px;
    pointer-events: none;
}

.recordar{
    text-align: center;
    color: blue;
    cursor: pointer;
    font-size: 20px;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #212121;
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #adadad;
    transition: .5s;
}

.registrarse{
    text-align: center;
    font-size: 20px;
    color: #212121;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

body, html{
    height: 100%; /* Establece la altura del cuerpo y el HTML al 100% del viewport */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    color: #ffffff;
}
label{
    font-size: 30px;
}

h2{
    margin-top: 5%;
}
